.card-list {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  box-shadow: 5px 5px 5px rgba(10, 10, 10, 0.3);
  margin: 15px;
  a{
    text-decoration: none;
    color: black;
  }
}
